.button {
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #ffffff;
  color: #fff;
  background-color: #000000;
  padding: 8px;
  font-weight: 800;
  font-size: 20px;
  height: 42px;
}

.button:hover {
  background-color: #ffffff;
  color: #000000;
}
